.timeline-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.25rem;
  border-bottom: .06rem solid #2F2F2F;
  font-size: 1.25rem;
  font-weight: 700;
}

.timeline-header svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--twitter-blue);
}